


h1, h2, h3, button { 
    font-family: 'Lato', sans-serif;
}
body {
  font-size: 18px ;
  color: var(--foreground-color);
  background-color: var(--background-color);
  background-color: #D8D9DA;
  margin:25px;
  
}
.soul-candle {
  width: 40px; /* Adjust to your preferred size */
  margin-right: 10px; /* Space between the GIF and the photo */
  /* Any other styles you want to apply to the GIF */
}

.deceased-square {
  box-shadow: 7px 7px 10px rgba(36, 36, 36, 0.1);
  transition: transform 0.3s ease;
}
.modal-content {
  box-shadow: 0px 5px 25px rgba(198, 163, 163, 0.1);
}

.payment-options button {
  margin-bottom: 1rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #ffffff; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --gray-50: #f9f9f9;
  --gray-100: #ededed;
  --gray-200: #d3d3d3;
  --gray-300: #b363b3;
  --gray-400: #a0a0a0;
  --gray-500: #898989;
  --gray-600: #6c6c6c;
  --gray-700: #202020;
  --gray-800: #121212;
  --gray-900: #111; */
  --primary-color: #646cff;
  --secondary-color: #cb1e74;
  --accent-color: #e757b0;
  --background-color: #f9f9f9;
  --foreground-color: #213547;
  --border-color: #d3d3d3;
}

a {
  font-weight: 500;
  color: #040406;
  text-decoration: inherit;
}
a:hover {
  color: #0b0b0c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  
}
button:hover {
  border-color: #010102;
  background-color: #2a2a2a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #cb1e74;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color:inherit;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.content-container {
  width:95%; 
  padding: 9rem 0;
  background-color: inherit;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(155, 38, 38, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center; /* Horizontal center */
  height: 100vh; /* Set the height of the container */
  
}


 h3 {
  text-align: center; 
  font-size: 1.7em;
  line-height: 1.1;
}


img {
  /* border: 1px solid #5b1515; */
  box-shadow: 2px 2px 8px rgba(208, 5, 5, 0.1);
  border-radius: 9px;
  transition: all 0.3s ease;
  gap: 10px;
  
}
.image {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;  /* Ensure the image covers the entire container */
  top: 0;
  left: 0;
}
.image-gallery {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto); 
  gap: 10px;
  justify-items: center; 
  direction: rtl; 
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  

}

.aspect-ratio-box {
  width: 100%;
  height: 100%;
  padding-bottom: 100%; 
  position: relative;

  
  
} 


.aspect-ratio-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: auto;
  /* object-fit: contain; */
  object-fit: cover;
} 

.logo {
  height: 6em;
  margin-bottom: 2rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: brightness(120%);
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button[type="submit"] {
  margin-top: 2rem;
  width: 100%;
  padding: 10px 20px;
  background-color:  #e757b0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #e783c6;
}

.error-message {
  /* display: block; */
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: rgb(191, 185, 201);
}

.error-input {
  border-color: red;
}

.deceased-details {
  padding: 10px;
  /* background-color: rgba(0, 0, 0, 0.6);  */
  color: rgb(10, 8, 8);
  /* padding: 5px; */
  border-radius: 8px;
  margin-top: 10px;
  justify-content: center;
  font-family: 'Lato', sans-serif;
            
  
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}
.deceased-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  padding: 10px 20px;
}

.deceased-square {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 250px;
  border-radius: 70px;
  border: 1px solid #fbfbfb;
  padding: 130px;
  margin: 20px;
  direction: ltr;
  flex-basis: calc(100% / 9);
  justify-items: center; 
  border: none; 
  overflow: hidden; 
  width: 80%;
  background-color: rgb(222, 222, 222);
  box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin-bottom: 70px; */
}

.deceased-details p {
  font-size: 0.8em; 
  margin: 9px 0; 
}

.row {
  display: flex;
  
}
.pagination-controls {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  margin-top: 50px; /* Add some space between header and pagination */
}
.search-button {
  position: absolute;
  /* bottom: 20px;  */
  left: 94%;
  /* transform: translateX(-50%); */
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-options {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
/* General Styles */
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #213547;
  background-color: #D8D9DA;
  margin: 0;
  padding: 0;
}

/* Form Container */
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

/* Input Styles */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button Styles */
input[type="submit"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #646cff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #535bf2;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 14px;
  margin: 5px 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #213547;
  background-color: #D8D9DA;
  margin: 0;
  padding: 0;
  display: flex;              /* Flexbox added to body to center the form container */
  align-items: center;        /* Vertical centering */
  justify-content: center;    /* Horizontal centering */
  height: 100vh;              /* Ensures body takes up full viewport height */
}

.form-container {
  width: 300px;              /* Width of the square */
  height: 300px;             /* Height of the square (same as width for a perfect square) */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;             /* Flexbox added to form-container to structure content */
  flex-direction: column;    /* Stack children vertically */
  justify-content: space-between; /* Distribute space between children */
  align-items: center;       /* Center content horizontally */
}
.header-image {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 150px;   
  display: block;
  object-fit: cover;
  object-position: center;
  
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

